/*Global*/
* {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
}

section {
  height: 100vh;
  position: relative;
}

/**** Hero Section ******/
#hero-section {
  background-image: url("../img//hero-background.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.navbar-brand {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  text-transform: uppercase;
}

.hero-heading {
  width: 500px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  margin: 0 auto;
  font-size: 4rem;
}

.hero-description {
  width: 426px;
  text-align: center;
  font-size: 1.5rem;
  margin: 0 auto;
}

.hero-text {
  padding: 15rem;
}

.scroll-down-instruction {
  text-align: center;
}

/**** Quick Navigation Section ******/
#quick-navigation {
  height: 50vh;
  margin: 10rem 0;
}

.carousel {
  padding: 3rem 0;
}

.card-navigation {
  width: 20rem;
}

/***/
#electronic {
  position: relative;
}

.bg-image-electronic {
  background-color: #a2d2ff;
  background-image: url("../img/electronic-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  filter: blur(4px);
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.text-heading {
  font-size: 2rem;
  padding: 2rem;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 2px 2px #f1f1f1;
}

.card {
  width: 19rem;
  box-shadow: 3px 3px 3px 3px #f1f1f1;
}

.item-title {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #b3dcf1;
  width: 50%;
  text-align: center;
}

.home-item-img {
  position: relative;
}

.item-container {
  border: 2px solid #f1f1f1;
  margin-top: 3rem;
  z-index: 0;
  background-color: white;
  border-radius: 8px;
  padding: 2rem 0;
}

.text-heading-line {
  height: 1.5rem;
  background-color: #ff9300;
  width: 10rem;
  position: absolute;
  left: 48%;
  top: 3rem;
  z-index: -1;
}

/*Toiletries*/
.toilet-item-container {
  margin-top: 3rem;
  z-index: 0;
  background-color: #d7e9f7;
  border-radius: 8px;
  padding: 2rem 0;
  box-shadow: 3px 3px 3px 3px #acdbff;
}

.bg-image-toiletries {
  background-image: url("../img/Toiletries-Background.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: -1;
}

/*Bedrooms*/

.bg-image-bedroom {
  background-color: #8e8b7e;
  background-image: url("../img/bedroom-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  filter: blur(4px);
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: -1;
}

/*Subscribe*/

#subscribe {
  height: 50vh;
  padding: 3rem 0;
}

.t {
  margin: 0 auto;
}

/*Footer*/
footer {
  padding: 2rem;
  background-color: #eeebdd;
}
