/* font-family: "Poppins", sans-serif;
font-family: "Roboto Mono", monospace; */
* {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
}

/**** Hero Section ******/
#hero-section {
  background-image: url("../img//hero-background.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.navbar-brand {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  text-transform: uppercase;
}

.hero-heading {
  width: 500px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  margin: 0 auto;
  font-size: 4rem;
}

.hero-description {
  width: 426px;
  text-align: center;
  font-size: 1.5rem;
  margin: 0 auto;
}

.hero-text {
  padding: 15rem;
}

.scroll-down-instruction {
  text-align: center;
}

/**** Quick Navigation Section ******/
#quick-navigation {
}

.carousel {
  padding: 3rem 0;
}

.card-navigation {
  width: 20rem;
}
